@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ifgetd');
	src:url('../fonts/icomoon.eot?#iefixifgetd') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ifgetd') format('woff'),
		url('../fonts/icomoon.ttf?ifgetd') format('truetype'),
		url('../fonts/icomoon.svg?ifgetd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-exit:before {
	content: "\e601";
}
.icon-vcard:before {
	content: "\e602";
}
.icon-house:before {
	content: "\e603";
}
.icon-calendar:before {
	content: "\e60a";
}
.icon-clipboard:before {
	content: "\e604";
}
.icon-logout:before {
	content: "\e60b";
}
.icon-checkmark:before {
	content: "\e60c";
}
.icon-cross:before {
	content: "\e60d";
}
.icon-cycle:before {
	content: "\e60e";
}
.icon-list:before {
	content: "\e60f";
}
.icon-text:before {
	content: "\e605";
}
.icon-text2:before {
	content: "\e606";
}
.icon-docs:before {
	content: "\e607";
}
.icon-archive:before {
	content: "\e602";
}
.icon-disk:before {
	content: "\e610";
}
.icon-mug:before {
	content: "\e60a";
}
.icon-archive2:before {
	content: "\e608";
}
