*
	margin 0
	padding 0	
	box-sizing border-box
body
	background-color #343434
	height 200px
header
	background-color #262626
	color #fff
	font-size 25px
	width 100%
	height 45px
	display block
	a
		float right
		padding 10px
		margin 5px
		font-size 25px
		color white
		text-decoration none
		span
			padding-right 5px
.menu_bar
		display none
nav
	width 25%
	min-height 100%
	float left
	background-color #343434
	.profile 
		color white
		text-align center
		.img_profile
			margin 30px
			margin-bottom 5px
			height 140px
			width 60%
			border 5px solid #5f5e5c
		.id
			font-size 17px
		.welcome
			font-size 20
	ul
		overflow hidden
		list-style none
		li
			float none
			border-bottom 1px solid black
			a
				font-size 18px
				color white
				padding 10px
				display block
				text-decoration none
				border-left 5px solid white
				span
					margin-right 5px
			a:hover
				border-left 5px solid red
				span
					margin-right 15px	
.contenido
	background-color white
	width 75%
	min-height 320%
	float left
	padding 20px
	.datos
		width 70%
		height 150px
		.datos_sup
			background-color #0089f1
			height 30px
			color white
			padding 5px
			box-shadow 0 0 0 black
			span
				padding 10px
.shadow
	box-shadow 10px 10px 5px #ccc
.border
	border 2px solid #262626
	border-top 0px
	
@media screen and (max-width 1024px)
	nav
		width 30%
		display block
		margin 0px
		.profile
			.img_profile
				display block
				width 50%
				margin-left 25%
	header
		height 60px
		font-size 40px
	.contenido
		width 70%
		padding 5px
		div
			margin 0 auto
			margin-bottom 25px
			display block
			width 95%
		.datos
			display block
			width 95%
		.datos_sup
			margin 0
@media screen and (max-width 740px)
	nav
		width 40%
		position fixed
		left -100%
		margin 0px
		.profile
			.img_profile
				display block
				width 50%
				margin-left 25%
	header
		height 60px
		font-size 40px
	.menu_bar
		display inline-block
		a
			font-size 40px
	.contenido
		width 100%
		padding 5px
		div
			margin 0 auto
			margin-bottom 25px
			display block
			width 95%
		.datos
				margin 0 auto 
				display block
				width 95%
			.datos_sup
				margin 0
@media screen and (max-width 580px)
	nav
		width 65%
		position fixed
		left -100%
		margin 0px
		.profile
			.img_profile
				display block
				width 50%
				margin-left 25%
	header
		height 60px
		font-size 40px
	.menu_bar
		display inline-block
		a
			font-size 40px
	
	.contenido
		width 100%
		padding 5px
		div
			margin 0 auto
			margin-bottom 25px
			display block
			width 95%
		.datos
			margin 0 auto 
			display block
			width 95%
		.datos_sup
			margin 0